@import "settings";
@import "foundation";

// Common HTML elements
$content-width-medium: 65%;
$content-width-small: 100%;
$headings: (
    (h1, 24px),
    (h2, 22px),
    (h3, 20px),
    (h4, 18px)
);

.reveal-modal-bg {
    position : fixed;
}

body {
    background: url(/assets/img/wallpaper.jpg) no-repeat center center fixed;
    @include background-size(cover);
}

@each $headingName, $headingSize in $headings {
    #{$headingName} {
        font-size: $headingSize;
    }
}

// Custom elements

.pn-button {
    @include pn-button();
    &.green {
        @include pn-button($bg:$buttonGreen);
    }
    &.red {
        @include pn-button($bg:$buttonRed);
    }
}

.content {
    @media #{$small-only} {
        width: $content-width-small;
    }

    @media #{$medium-up} {
        width: $content-width-medium;
    }

    margin: 0 auto;
}

.evo-more {
    display: none;
}

.evo-pointer {
    position: absolute;
    margin-top: -42px;
    right: 5px;
}

.reveal-modal {
    padding-top: 55px;
}

small.error {
    margin-top: -16px;
}

@import "pages/index";
@import "pages/calendar";
@import "pages/export-import";
