$label-opacity: 0.45;
$label-red: rgba(41, 9, 9, $label-opacity);
$label-blue: rgba(9, 39, 41, $label-opacity);
$label-green: rgba(17, 41, 9, $label-opacity);
$label-brown: rgba(41, 41, 9, $label-opacity);
$label-black: rgba(0, 0, 0, $label-opacity);
$label-purple: rgba(36, 9, 41, $label-opacity);

$global-margin-lr: 5%;
$global-margin-tb: 2%;

.label {
    &.red { @include label($bg:$label-red); }
    &.blue { @include label($bg:$label-blue); }
    &.green { @include label($bg:$label-green); }
    &.brown { @include label($bg:$label-brown); }
    &.black { @include label($bg:$label-black); }
    &.purple { @include label($bg:$label-purple); }
}

.top-bar {
    .top-bar-section {
        @media #{$medium-up} {
            .left { margin-left: $global-margin-lr; }
            .right { margin-right: $global-margin-lr; }
        }
    }
}

.calendar-content {

    margin: $global-margin-tb $global-margin-lr;

    .calendar {
        
        $border-color: rgba(0, 0, 0, 0.3);
        $border-dark-color: rgba(0, 0, 0, 1);
        $day-names-bg: rgba(0, 0, 0, 0.6);
        $extra-light-bg: rgba(255, 255, 255, 0.7);
        $light-bg: rgba(255, 255, 255, 0.8);
        $day-label-bg: rgba(0, 0, 0, 0.7);
        
        @include block;
        padding: 20px 30px;
        
        li { color: #FFFFFF; }
        
        .day-names {
            background-color: $day-names-bg;
            border: solid 1px $border-dark-color;

            li {
                height: 36px;
                line-height: 36px;
                text-align: center;
            }
        }
        
        .week {
            // Border styles
            border: {
                top: {
                    width: 0;    
                }  
                left: solid 1px $border-dark-color;
                right: solid 1px $border-dark-color;
            }

            &:last-child {
                border-bottom: solid 1px $border-dark-color;
            }
            
            &:nth-child(even) { background-color: $light-bg; }
            &:nth-child(odd) { background-color: $extra-light-bg; }
            
            li {
                position: relative;
                height: 108px;
                overflow: hidden;
                border-right: solid 1px $border-color;
                
                @media #{$small-only} {
                    & {
                        text-align: center;
                        border-top: solid 1px $border-color;
                    }
                }
                
                @media #{$medium-up} {
                    &:last-child {
                        border-right-width: 0;
                    }
                }
                
                .day {
                    @include label($bg:$day-label-bg, $radius:true, $text-size: rem-calc(12));
                    font-weight: bold;
                }
                
                .hover {
                    @media #{$small-only} {
                        display: none;
                    }
                    position: absolute;
                    width: 100%;
                    height: 108px;
                    top: 0;
                    left: 0;
                    text-align:center;
                    color: #AAAAAA;
                    font-weight: bold;
                    line-height: 108px;
                    background-color: rgba(0, 0, 0, 0.85);
                }
                
                @media #{$medium-up} {
                    &:hover {
                        .hover {
                            display: block;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

#day-popup {

    .task {

        line-height: 24px;

        &.done {
            .time, .label, .task-title {
                text-decoration: line-through;
            }
        }

        input {
            line-height: 24px;
            margin: 0 6px 0 0;
        }

        div {
            display: inline-block;
            line-height: 24px;
            vertical-align: top;
        }

        i {
            display: inline-block;
            font-size: 24px;
            line-height: 24px;
        }

        .time {
            margin-right: 6px;
        }

        .category {
            height: 24px;
            margin-right: 6px;
            padding: 0 10px;
        }

        .task-title {
            display: inline;
        }
    }

    .add-new-record-button { margin-top: 25px; }
}

#add-new {
    display: none;
}
