$global-margin-lr: 5%;
$global-margin-tb: 2%;

$task-label-bg: rgba(0, 0, 0, 0.4);

.top-bar {
    .top-bar-section {
        @media #{$medium-up} {
            .left { margin-left: $global-margin-lr; }
            .right { margin-right: $global-margin-lr; }
        }
    }
}

.calendar-content {

    margin: $global-margin-tb $global-margin-lr;

    .calendar-navigation {
        font-size: 1.6rem;

        a {
            margin: 0 10px;
            color: #000000;
            outline: none;
        }

        .month-year {
            display: inline-block;
            color: #FFFFFF;
            font-weight: bold;
            text-shadow: 1px 1px #000000;
        }
    }

    .calendar {

        $border-color: rgba(0, 0, 0, 0.3);
        $border-dark-color: rgba(0, 0, 0, 1);
        $day-names-bg: rgba(0, 0, 0, 0.6);
        $extra-light-bg: rgba(255, 255, 255, 0.7);
        $light-bg: rgba(255, 255, 255, 0.8);
        $day-label-bg: rgba(0, 0, 0, 0.7);

        @include block;
        padding: 20px 30px;

        li { color: #FFFFFF; }

        .day-names {
            background-color: $day-names-bg;
            border: solid 1px $border-dark-color;

            li {
                height: 36px;
                line-height: 36px;
                text-align: center;
            }
        }

        .week {
            // Border styles
            border: {
                top: {
                    width: 0;
                }
                left: solid 1px $border-dark-color;
                right: solid 1px $border-dark-color;
            }

            &:last-child {
                border-bottom: solid 1px $border-dark-color;
            }

            &:nth-child(even) { background-color: $light-bg; }
            &:nth-child(odd) { background-color: $extra-light-bg; }

            li {
                position: relative;
                height: 108px;
                padding-bottom: 4px;
                overflow: hidden;
                border-right: solid 1px $border-color;

                @media #{$small-only} {
                    & {
                        text-align: center;
                        border-top: solid 1px $border-color;
                    }
                }

                @media #{$medium-up} {
                    &:last-child {
                        border-right-width: 0;
                    }
                }

                .day {
                    @include label($bg:$day-label-bg, $radius:true, $text-size: rem-calc(12));
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                .task {
                    @include label($bg:$task-label-bg, $text-size: rem-calc(11));
                    display: block;
                    margin-bottom: 2px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.done {
                        text-decoration: line-through;
                    }
                }

                .more {
                    display: block;
                    font-size: 11px;
                    color: #000000;
                    text-align: center;
                    font-weight: bold;
                    line-height: 10px;
                }

                .hover {
                    @media #{$small-only} {
                        display: none;
                    }
                    position: absolute;
                    width: 100%;
                    height: 108px;
                    top: 0;
                    left: 0;
                    text-align:center;
                    color: #AAAAAA;
                    font-weight: bold;
                    line-height: 108px;
                    background-color: rgba(0, 0, 0, 0.85);
                }

                @media #{$medium-up} {
                    &:hover {
                        .hover {
                            display: block;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

#day-popup {

    $taskBg: rgba(0, 0, 0, 0.1);
    $taskBorder: rgba(0, 0, 0, 0.2);

    .day-of-week, .date {
        font-size: 24px;
    }

    .accordion {
        .accordion-navigation {

            .content {
                width: 100%;
                margin: 0;
                padding: 0;

                .row {
                    width: 100%;
                    max-width: 100%;

                    .columns {
                        padding: 0 4px;

                        &.time {
                            margin-top: 5px;
                            span {
                                margin: 0 5px;
                                font-weight: bold;
                            }
                            @media #{$small-only} {
                                text-align: center;
                            }
                        }

                        &.calendar {
                            margin-top: 5px;
                            text-align: right;
                            @media #{$small-only} {
                                text-align: center;
                            }
                        }

                        &.description {
                            margin-bottom: 5px;
                            color: #666666;
                            @media #{$small-only} {
                                text-align: center;
                            }
                        }

                        &.controls {
                            margin: {
                                top: 8px;
                                bottom: 0px;
                            }

                            .pn-button {
                                padding: 4px 7px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            a {
                @include round(4px);
                margin-top: 7px;
                color: #FFFFFF;
                background-color: $task-label-bg !important;
                border: solid 1px $taskBorder;
                text-align: center;
                font-size: 12px;
                padding: 5px;

                &.done {
                    text-decoration: line-through;
                }
            }
        }
    }
    .add-new-record-button { margin-top: 25px; }
}

#my-calendars-popup {

    $calendarBorder: rgba(0, 0, 0, 0.2);

    .accordion {
        .accordion-navigation {

            .content {
                width: 100%;
                margin: 0;
                padding: 0;

                .row {
                    @extend %noMarginRow;
                    width: 100%;
                    max-width: 100%;

                    &.settings {
                        margin-top: 15px;
                    }
                }
            }

            a {
                @include round(4px);
                margin-top: 7px;
                color: #FFFFFF;
                border: solid 1px $calendarBorder;
                text-align: center;
                font-size: 12px;
                padding: 5px;

                &.done {
                    text-decoration: line-through;
                }
            }
        }
    }

    .save-calendar-changes {
        margin-top: 15px;
    }
}

#add-new {
    display: none;
}
